<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Partials/_headerPartial" />
</head>
<body>
    <header>
        <partial name="Partials/_navbar" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Turbo.AZ  <a asp-area="" asp-controller="Home" asp-action="Index">Ana Səhifə</a>
        </div>
    </footer>
    <partial name="Partials/_scriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>